/* Resets */

/* Serif font family */
@font-face {
  font-family: formal;
  font-style: normal;
  font-weight: 300;
  src: local("New York"), local("Georgia"), local("Palatino"), local("Palatino Linotype"), local("Times"), local("Tmes New Roman"),serif;}

/* Sans serif-style font family: */
@font-face {
  font-family: informal;
  font-style: normal;
  font-weight: 300;
  src: local("-apple-system, "),local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Arial"), local("Tahoma");
}
/* docset-specific layout */
/* Header, nav & footer occupy the full width of the page. */
nav,header,footer{height:auto;clear:both;width:100%;}
footer {float:left;}

/* float and clear left means a right sidebar,and vice-versa */
article, aside {float:left;height:100%;overflow:auto;display:block;}
article {width:75%}
aside {width:25%;}
article {clear:left;}

