/* Put the aside on the left; client (article) area floats to the right. */
:root 
{
	/* Maximum characters on a line in an article. 
	 * Has no effect on the width of the column itself. */
	--max-article-width: 65%; 
	/* The maximum number of characters the aside column should be */
	--max-aside-width: 14%;    


}
article, aside {float:right}
article {clear:right;}
article {margin-left:1rem;margin-right:10%;}
aside{padding-left:1%;padding-right:1%;margin-left:0;margin-right:0;}



