table > thead > tr > th  {margin-top:4rem;}

/* HEADER */
/* Unordered lists show horizontally, not vertically, in the header */
header > ul > li{display:inline;list-style-type:none;font-weight:bold;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{color:var(--trim-fg);text-decoration:none;margin-right:1.5rem;}
header > ul > li > a:hover,
header > ul > li > a:active
	{color:var(--trim-fg);}

/* NAV */
nav > ul > li {display:inline;list-style-type:none;margin-right:1rem;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;color:var(--nav-fg);} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:none;} 

/* ARTICLE */

/* Article tables use colors same as header, but reversed in first row */
article >  table {width:100%;margin-top:2rem;margin-bottom:3rem;}
article > table > td,th {padding:1rem;}
article > table > tbody > tr > td {padding:1rem;border-bottom:.1px solid gray;}



/* ASIDE */
aside {padding:2rem;}
aside {margin: 2rem;}

/* FOOTER */
footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {color:var(--trim-fg);background-color:var(--footer-bg);}
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}

/* Color of links in main rows (body) of table */
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{text-decoration:none;}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{text-decoration:underline;}


