/* Put the aside on the left; client (article) area floats to the right. */
:root 
{
	/* Maximum characters on a line in an article. 
	 * Has no effect on the width of the column itself. */
	--max-article-width: 60%; 

	/* The maximum number of characters the aside column should be */
	--max-aside-width: 20%;    /* 14rem */


}
article, aside {float:right}
article {clear:right;}
article {margin-left:0;margin-right:5%;}
aside{margin-right:0;}



