/* Resets */
:root
{

		/* Docset adds the styles formal, informal, and code */
		/* to the existing serif, sans-serif, and monospace for  */
		/* improved appearance per operating system.  */

		--informal:
			"system-ui",
			"-apple-system",
			"LucidaGrandeUI",
			"HelveticaNeueDeskInterface-Regular",
			"HelveticaNeueDeskInterface-Light",
			"DroidSans",
			"Ubuntu Light",
			"Arial",
			"Roboto-Light",
			"Segoe UI Light",
			"Tahoma",
			"sans-serif";

 		--code:
 			"Consolas",
			"Monaco",
			"Menlo",
			"DejaVue Sans Mono",
			"Lucida Console",
			"monospace";

		--formal:
			"Palatino Linotype",
			"Palatino",
  			"Georgia",
			"Times",
			"Times New Roman",
  			"New York",
			"sans-serif";
}

/* Good resource for common system fonts: https://www.cssfontstack.com/ */
/* https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css */


h1,h2,h3,h4,h5,h6 {font-family:var(--informal);}
/* docset-specific layout */
/* Header, nav & footer occupy the full width of the page. */
nav,header,footer{height:auto;clear:both;width:100%;}
footer {float:left;}

/* float and clear left means a right sidebar,and vice-versa */
article, aside {float:left;height:auto;overflow:auto;display:block;}
article {width:75%}
article {clear:left;}
aside {width:25%;}

