/* Put sidebar on the right side of the page. Article area floats to the left. */
:root 
{
	--max-article-width:80%;
	--max-aside-width:25%;
  --right-gap:0%;
}
article, aside {float:left}
article {clear:left}
aside {margin-left:5%;margin-right:0;padding-left:0;padding-right:10%;}
article > p {max-width:var(--max-article-width);}

