/* IMPORTANT: Downloadable fonts should be imported above this rule  */
:root 
{

		/* ****************/
		/* COLORS         * https://coolors.co/dd7373-3b3561-ead94c-448fa3-d1d1d01 
		/* ****************/
		/*
		 * Most but not all colors used by a theme appear
		 * in this CSS file as CSS variables, so that you
		 * can make big changes to your theme by doing 
		 * nothing more than altering these values.
		 * 
		 * Text colors use fg, meaning foreground, and
		 * background colors use fg. Sometimes they're
		 * used to color non-text objects, which is why
		 * they aren't called -text or -background.
		 *
		 * --------------------------------------------------
		 * Header style
		 * --------------------------------------------------
		 */
	
		/* Default foreground (text) and background colors  */
		--fg: #E8EAEB;
		--bg: #201D34;

		/* Default foreground (text) and background colors in article */
		--article-fg: #EAD94C;
		--article-bg: #201D34;
				
		/* Default foreground (text) and background colors in aside */
		--aside-fg: var(--fg);
		--aside-bg: var(--bg);

		/* Primary foreground (text) and background colors in header */
		--header-fg: black;
		--header-bg: white;

		/* 
		 https://coolors.co/560089-ffa400-009ffd-e6c229-e6dc52
		 */

		/* Primary foreground (text) and background colors in navbar */
		--nav-fg: #EAD94C; /* Gold #EAD94C; Deeper gold: FFA400 */
		--nav-bg: #221C35; /* #03B3561;  */

		/* Secondary foreground (text) and background colors for accents. */
		--trim-fg: #56008A; /* #E5E5E5; */
		--trim-bg: #AACCD5; 
		
		/* Primary foreground (text) and background colors in footer */
		--footer-fg: var(--header-fg);
		--footer-bg: var(--header-bg);


}

/* HEADER */
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{color:var(--trim-fg);}
header > ul > li > a:hover,
header > ul > li > a:active
	{color:var(--trim-fg);}


