/* docstart.css - Layout for a generic starter site */ 
html {color:var(--fg);background-color:var(--bg);font-family:var(--body-style);}

h1{ font-size:2.5em;margin-top:2rem; }
h2{ font-size:2em;margin-top:1.5rem; }
h3{ font-size:1.5em;margin-top:1.5rem; }
h4{ font-size:.9em;margin-top:1rem;color:gray;font-weight:bold;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }
p,ul,ol,dl {margin-top:1rem;}
table > thead > tr > th  {margin-top:4rem;}
blockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}
/* Indent list items a couple levels in */
li li {margin-left:1rem;}
li li li {margin-left:1rem;}


/* HEADER */
header {width:var(--full-page);}
header {margin-left:var(--left-gap);margin-right:var(--right-gap);}
header {margin-top:var(--top-gap);margin-bottom:var(--bottom-gap);} 
header {padding-left:var(--left-start);}

header {line-height:var(--header-height);background-color:var(--header-bg);color:var(--header-fg);overflow:hidden;}
/* Use h4 for the main header because it's ignored by search engines. This is just a convention used here in docset themes. It's nothing universal. */
header > h4 {font-size:4em;font-weight:700;display:inline;} 
/* Abuse strikeout to show text in a different color */
header > h4 > del {color:var(--trim-fg);text-decoration:none;} 
header > ul {line-height:var(--header-height);}
header > ul > li {line-height:var(--header-height);list-style-type:none;color:var(--header-fg);display:inline;}
header > ul > li > a:link {color:var(--header-fg);font-weight:bold;text-decoration:none;margin-left:1em;display:inline;clear:left;}
header > ul > li > a:hover{text-decoration:underline;color:var(--trim-fg);}
header > img {background-size:100% 100%;}

/* NAV */
nav {width:var(--full-page);}
nav {margin-left:var(--left-gap);margin-right:var(--right-gap);}
nav {margin-top:var(--top-gap);margin-bottom:var(--bottom-gap);} 
nav {padding-left:var(--left-start);}
/* white-spae:nowrap prevents word wrap,so the nav bar doesn't buckle when the window's narrow */
nav {white-space:nowrap;height:var(--nav-height);line-height:var(--nav-height);}
nav  {color:var(--nav-fg); background-color:var(--nav-bg); }


nav > p {margin-top:0;line-height:var(--nav-height);}
nav > p {background-color:var(--nav-bg); }
nav > img {display:inline;}
nav > p > a {color:var(--nav-fg);font-style:normal;}
nav > li > a:hover{text-decoration:underline;color:var(--trim-fg);}
nav > p {font-style:italic;margin-bottom:1rem;}

/* ARTICLE */
article {margin-left:var(--left-gap);margin-right:var(--right-gap);}
article {padding-left:var(--left-start);}
article {width:var(--max-article-width);}
article {color:var(--article-fg);background-color:var(--article-bg);} 
article > h2 {color:var(--fg);font-size:1.5rem;line-height:1.5em;}
article > h3  {color:var(--fg);}
article > h4 > strong {color:black;font-weight:bold;}
article > h4 > em {color:gray;font-weight:light;}
article > p {font-weight:light;line-height:1.5em;max-width:var(--max-article-width);}
article > pre {font-family:code;max-width:var(--max-article-width);overflow:auto;}
article > ul, article > ol, article > li {line-height:1.5em; max-width:var(--max-article-width)}
article > code, article > pre{font-size:1em;}
article > h4 { font-weight:normal;font-size:1em;color:gray;margin-bottom:1em; } /* Byline */
article > h4 > strong {font-weight:bold;color:black; } /* Byline */

/* DEFINITION LISTS */
dt {font-weight:bold;}
dd {margin-bottom:1em;}


/* ASIDE */
aside{border-bottom:none;}
aside {padding:2rem;}
aside {margin: 2rem;}
aside {width:var(--max-aside-width);}
aside {color:var(--aside-fg);background-color:var(--aside-bg);}
aside h2 {margin-top: 1em;margin-bottom:.5em}
aside > h3 {color:var(--trim-bg);font-size:.75em;font-weight:bold;margin-bottom:2;}
aside > p {margin-top:0;margin-bottom:1em;}

/* FOOTER */
footer {width:var(--full-page);}
footer {margin-left:var(--left-gap);margin-right:var(--right-gap);}
footer {margin-top:var(--top-gap);margin-bottom:var(--bottom-gap);} 
footer {padding-left:var(--left-start);}
footer {border-top: 1px solid var(--trim-fg);} 
footer{color:var(--footer-fg);background-color:var(--footer-bg);}
footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Space table columns to get some breathing room */
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {color:var(--trim-fg);background-color:var(--fooger-bg);}
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td > a:link {color:var(--footer-fg);text-decoration:none;}
footer > table > tbody > tr > td > a:hover{color:var(--footer-fg);text-decoration:underline;}
footer > table > tbody > tr > td {padding-right:3em;}

/* RESPONSIVE SIZING */
@media (max-width: 1024px) {
aside {display:none}
footer {display:none}
}
