:root 
{

}
header {height:auto;font-weight:bold}


article {width:100%;margin-left:0;padding-left:0;}
article > p > img {object-fit:cover;}
/* These headers require absolute positioning because they're positioned atop an image. */
article > h3 {font-size:4rem;position:absolute;top:30%;left:15%}
article > h4 {font-size:2.5rem;position:absolute;top:45%;left:15%;}
article > h3{color:white;font-weight:900;background:rgba(80,80,85,0.5);padding-left:2rem;padding:2rem;white-space:no-wrap;float:left;} 
article > h4{color:white;font-weight:900;background:rgba(80,80,85,0.5);padding-left:2rem;padding:2rem;white-space:no-wrap;float:left;} 

