:root 
	
{
		/* Make article less wide to make room for aside */
		--max-article-width: 33rem;

}

aside{padding: 2rem 2rem 2rem 2rem;background-color:white;height:44em;box-shadow: 0 1px 6px rgba(0,0,0,.15);}
aside > h2{font-weight:bold;margin-top:1rem;}
article{height:44em;};
